div.mobile {
  position: fixed;
  width: 308px;
  height: 620px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 20;
  //background: lightcoral;
  transition: .4s;

  img {
    height: 100%;
    z-index: 40;
    position: absolute;
  }

  div {
    height: 484px;
    width: 276px;
    background: $grey;
    display: block;
    position: absolute;
    top: 68px;
    left: 16px;
    z-index: 35;
    overflow: hidden;

    video {
      max-width: 100%;
      max-height: 100%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      opacity: 0;
    }

    video.opacity--1 {
      opacity: 1;
    }
  }
}