.slide.background--2{"data-anchor" => "characteristics"}
  .container
    .scene--left{"data-load" => "slide2"}
      %span.layer{"data-depth" => "3.00"}
        %h2 Perfect fit
        %p Each track fits each ambient perfectly so you can mix and match things as you please
    .scene--left{"data-load" => "slide2"}
      %span.layer{"data-depth" => "5.00"}
        %h2 Different types
        %p From affirmations to guided meditations - whatever works best for you
  .container
    .scene{"data-load" => "slide2"}
      %span.layer{"data-depth" => "2.00"}
        %h2 Voiced by native speakers
        %p We have native speaking people (experienced in voice acting) for each language we support
    .scene{"data-load" => "slide2"}
      %span.layer{"data-depth" => "3.00"}
        %h2 Minimalistic design
        %p We use a minimalistic approach for our design to further reduce the amount of distractions
    .scene{"data-load" => "slide2"}
      %span.layer{"data-depth" => "5.00"}
        %h2 powerfull
        %p This thing will kick you out of your daily buzz and will help you focus your thoughts towards what you want
