.slide.background--3{"data-anchor" => "value"}
  .container
    .scene--left{"data-load" => "slide3"}
      %span.layer.margin--top30{"data-depth" => "3.00"}
        %h2 incredible value
        %p Pay only for the tracks you like or purchase the full version to gain access to all currently available and any upcoming tracks - forever
  .container{"data-padding" => "top"}
    .scene{"data-load" => "slide3"}
      %span.layer{"data-depth" => "2.00"}
        %h2 no subscription
        %p Fewer things to worry in life
    .scene{"data-load" => "slide3"}
      %span.layer{"data-depth" => "3.00"}
        %h2 no adds
        %p Nothing will disturb you from your peace of mind
    .scene{"data-load" => "slide3"}
