.slide.background--3{"data-anchor" => "value"}
  .container
    .scene--left{"data-load" => "slide3"}
      %span.layer.margin--top30{"data-depth" => "3.00"}
        %h2 incredible value
        %p Pay only for additional things you want or help us spread the word and get them free
  .container{"data-padding" => "top"}
    .scene{"data-load" => "slide3"}
      %span.layer{"data-depth" => "2.00"}
        %h2 no subscription
        %p Fewer things to worry in life
    .scene{"data-load" => "slide3"}
      %span.layer{"data-depth" => "3.00"}
        %h2 no adds
        %p Nothing will disturb you from Your peace of mind
    .scene{"data-load" => "slide3"}
      %span.layer{"data-depth" => "5.00"}
        %h2 no premium versions
        %p Everyone can get everything with no extra effort