.slide{"data-anchor" => "sign-up"}
  .subscribe
    %h2{"data-load" => "load"} Let us keep you up to date
    %p{"data-load" => "load"}
      Here you can sign up for news from a MindPeace team about new tracks and updates.

    %form.form{"data-load" => "load", method: "POST", autocomplete: "off"}
      %div
        %input{placeholder: "Your e-mail", type: "email", name: "_replyto", pattern: "[^ @]+@[^ @]+.[a-z]+", "data-mail" => "input"}
        %input{name: "_gotcha", style: "display:none", type: "text"}
        %button{type: "submit", "data-submit" => "submit"} Sign up

    %span{"data-load" => "load"} mindPeace - @2016 | info@mindpeace.eu
