.slide{"data-anchor" => "sign-up"}
  .subscribe
    %h2{"data-load" => "load"} Let us keep you up to date
    %p{"data-load" => "load"}
      Here you can sign up for news from a MindPeace team about new tracks and updates.
    %form{"data-load" => "load"}
      %div
        %input{:placeholder => "Your e-mail", :type => "email"}
        %button{:type => "submit"} Sign up
    %span{"data-load" => "load"} mindPeace - @2016 | info@mindpeace.eu