.slide{"data-anchor" => "sign-up"}
  .subscribe
    %h2{"data-load" => "load"} sign up for free track
    %p{"data-load" => "load"}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque delectus dolorum ea ex molestias mollitia nemo optio veniam vitae!
      Ex inventore itaque labore laboriosam nostrum temporibus tenetur vel veritatis.
    %form{"data-load" => "load"}
      %div
        %input{:placeholder => "Your e-mail", :type => "email"}
        %button{:type => "submit"} Sign up
    %span{"data-load" => "load"} mindPeace - @2016 | mindpeace@gmail.com