.mobile
  %img{:alt => "mobile", :src => "img/phone.png"}
  %div
    %img{src: "img/replica_content/screenshot.png"}
    -#%video.opacity--1{:autoplay => "", :loop => ""}
    -#  %source.opacity--1{:src => "img/sample_mob_content/1_03.webm", :type => "video/webm"}
%a#store{:href => "http://www.apple.com/itunes/"}
  %img{:alt => "App store", :src => "img/store.png"}
#mobVer
  %div
    %img{:alt => "logo", :src => "img/mindpeace_logo_long.svg"}
    %h1
      %span clear your
      mind
      %br
      %span obtain
      Peace
    %h2 The MindPeace App helps you to reduce stress and increase wellbeing. Try it out for yourself!