.mobile
  %img{:alt => "mobile", :src => "img/phone.png"}
  %div
    %img{src: "img/replica_content/screenshot.png"}
%a#store{:href => "https://itunes.apple.com/us/app/mindpeace/id985176337?ls=1&mt=8", target: "_blank"}
  %img{:alt => "App store", :src => "img/store.png"}
#mobVer
  %div
    %img{:alt => "logo", :src => "img/mindpeace_logo_long.svg"}
    %h1
      %span clear your
      mind
      %br
      %span obtain
      Peace
    %h2 The MindPeace App helps you to reduce stress and increase wellbeing. Try it out for yourself!
