.overlay
%video#vbg1{:autoplay => "", :loop => ""}
  %source{:src => "img/video_bgj.mp4", :type => "video/mp4"}
%video#vbg2{:autoplay => "", :loop => ""}
  %source{:src => "img/video_bgi.mp4", :type => "video/mp4"}