.about_links
  %p
    If you have any questions feel free to contact us at
    %a{href: "support@mindpeace.eu"} support@mindpeace.eu

  %p
    Use of this site and our app indicates your consent to the
    %a{href: "/about/terms"} Terms of use

  %p
    @2016 mindPeace. All rights reserved.
    %a{href: "/about/privacy"} Privacy Policy