%h1 About mindPeace app

%p
  Mind peace is an aplication for guided meditation,
  suitable for meditation experts and beginners alike.
  You get all the benefits of meditation no matter what your goals are.
  You can tweak, adjust and choose meditation contents - backing music and/or  vocal guidance.
  There are no religios views promoted or denied, just get what you want from the process of meditation whithin this wonderfool tool.

  %br
  %br

  With in-app purchases you can acquire a variety of affirmations, backing tracks, music and specifically designed sounds for the meditation process with scientifically chosen background vibration Hz.
  Our team has tested every track available. We are using things that work, are
  strictly practical and are using concepts that function in everyday life.