.about_index {
  background: url("../img/about.png") no-repeat fixed;
  background-size: cover;
  background-color: $grey;
  padding: 20vh 0 0;

  #content {
    max-width: 640px;
    padding: 0 5%;
    margin: 0 auto;
    line-height: 1.5;

    .about_links {

      a {
        color: $blue--mediumlight;

        &:hover {
          color: lighten($blue--mediumlight, 10%);
        }
      }
    }
  }
}
